/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Oswald Font */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Header */

header {
    background-image: url(/Assets/header-bg.jpg);
    background-position: top center;
    background-size: cover;
    /* height: 100vh; */
}

.primary {
    color: #5c0abe;
}

.primary_two {
    color: #555555;
}

.logo img {
    width: 40%;
}

.btn_ticket {
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 0px;
}

.col_head_one {
    width: 80% !important;
}

.navbar-brand {
    width: 30% !important;
}

.nav-item a {
    color: #55555569;
    font-weight: 670;
    font-size: 16px;
    font-family: 'Roboto';
}

.nav-item a:hover {
    color: #5c0abe;
}

.nav-item a:active {
    color: #5c0abe !important;
}

.nav-item a:focus {
    color: #5c0abe !important;
}

.navbar {
    padding-top: 20px;
    width: 98%;
    margin: 0 auto;
    background-color: transparent;
}

/* Info Header Section */

.HeaderInfo {
    box-sizing: border-box;
    width: 98%;
    margin: 0 auto;
    padding-top: 12%;
}

.h2_Tech_head {
    font-weight: 790 !important;
    line-height: 25px;
    font-family: 'Oswald';
    letter-spacing: 8px;
    font-size: 46px !important;
}

.heading_tech_third {
    line-height: 42px !important;
    /* background-color: red; */
    font-weight: 300;
    padding-top: 5px;
    font-size: 30px !important;
}

.Tech_para {
    font-family: 'Roboto';
    line-height: 32.4px;
    font-weight: 400px;
    padding-top: 55px;
    font-size: 18px !important;
}

.headInfoBtnDiv button {
    margin-left: 20px;
    padding: 7px 20px;
}

.btn_section_head {
    position: absolute;
    bottom: 90px;
}

.headerMainIconDiv {
    background-color: #00ffcc;
}

.headerIconDiv {
    background-image: url(Assets/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    position: absolute;
    bottom: -200px;
    left: 20px;
    width: 50%;
}

.headerIcon_SubDivOne {
    border-right: 1px solid rgb(255, 255, 255);
    margin: auto;
}

.headerIcon_I {
    font-size: 1.3em !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_sub_para_detail p {
    line-height: 15px;
    text-align: left;
    width: 100%;
}

.sub_row {
    padding-top: 5%;
}

.headerSecondDivMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.headerSecond_iconDiv img {
    width: 90%;
    cursor: pointer;
    opacity: 0.9;
}

.headerSecond_iconDiv:hover img {
    opacity: 1;
    transform: translateY(-10px);
    transition: ease-in-out 0.5s;
}

.SectonTwoSub_One {
    width: 65%;
}

.SectonTwoSub_One img {
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-top: 10%;
    padding-left: 3%;
}

.SectonTwoSub_Two {
    position: absolute;
    left: 50%;
    height: 66vh;
    bottom: 30px;
    width: 45%;
    display: flex;
    background-image: url(Assets/bg1.png);
}

.SecondTwoDiv_Info {
    margin: auto;
    /* background-color: red; */
    width: 90%;
}

.Info_FirstHeading {
    color: #888888;
    font-size: 20px;
    font-weight: 300;
}

.Info_SecondHeading {
    font-size: 36px;
    line-height: 50.4px;
    font-weight: 700;
    font-family: 'Oswald';
}

.Info_para {
    font-family: 'Roboto';
    color: #555555;
    font-size: 18px;
    line-height: 32.4px;
    font-weight: 400;
}

.btn_InfoDiv{
    background-color: #00ffcc;
    border: transparent;
    border-radius: 0;
    padding: 15px 40px;
}

/* Counter */

.counter{
    background-color: red;
    text-align: center;
}

.counter:hover{
background-color: #5c0abe;
}

.CounterDiv{
 width: 95%;
 margin: 0 auto;
}